body {
  padding: 1em;
  font-family: sans-serif;
}

.message {
  padding: 10px;
  background: #FFFF99;
}

.items {
  display: flex; 
  align-items: center;
}

form.inline {
  display: inline-block;
  vertical-align: middle;
}

.user-status {
  font-style: italic;
  font-size: 0.9em;
}