<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>File List</title>
</head>
<body>
    {% for line in markdown_text %}
        {{ line }}
    {% endfor %}
    
    {% for message in get_flashed_messages()%}
        <p>{{ message }}</p>
    {% endfor %}
    <ul>
        {% for file in files %}
        <li>
            <a href="{{ url_for('file_content', file_name=file) }}">{{ file }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>